*{
	margin: 0 auto 0 auto;
}

body {
    background: white;
}

#top-body {
    background: rgb(58, 180, 168);
    height:220px;
    width:1200px;
    text-align: center;
}

#top-name {
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    color: rgb(255, 255, 13);
}

#top-with-sis {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: rgb(39, 21, 196);
    padding-bottom: 20px;
}

#motto {
    padding-bottom: 40px;
    font-family: 'Fredoka One', cursive;
    font-style: italic;
    font-size: 25px;
    color: rgb(39, 21, 196);
}

#headshot {
    position: absolute;
    top: 0px;
    left: 1400px; 
}

#menu{
	display:block;
	float:left;
	clear:both;
	width:1160px;
	height:54px;
	float:left;
    clear:both;
    padding-left: 40px; 
    background: #183a83;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:1200px;
}

#menu li {
	list-style: none;
	padding: 0px;	
    display: inline; 
}

#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	font-size: 17px;
	padding-left:13px;
    padding-right:13px;
}

#pictures-rotate {
    width: 1200px;
    height: 400px;
    align-self: auto;
    border: 1px solid #000000;
    clear:both;
}

#bottom-body-top {
    
    align-self: center;
    display: block;
}

#bottom-body-middle {
    margin-left:auto;
    width: 1200px;
    height: 200px;
    align-self: auto;
    border: 1px solid #000000;
}

#left-pic { 
    position: relative;
    float:left;
    width: 296px;
    height: 200px;
    border: 1px solid #000000;
}

#bottom-middle {
    position: relative;
    float:left;
    text-align: center;
    width: 596px;
    height: 200px;
    border: 1px solid #000000;
}

#italic-text {
    padding: 5px 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #6043b1;
    text-align: center;
}

#standard-text {
    padding: 5px 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:#6043b1;
}

#right-pic {
    float:left;
    width: 296px;
    height: 200px;
    border: 1px solid #000000;
}

#bottom-images {
    width: 296px;
    height: 200px;
}

#footer {
background: rgb(58, 180, 168);
height:100px;
width:1200px;
text-align: center;
}

#footer-website {
    text-align: center;
    padding-top: 40px;
}